.list {
  padding: 0;
}
.list li {
  border-radius: 8px;
  padding: 4px 10px;
  list-style: none;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
}
.removebtn {
  font-size: 12px;
  border-radius: 8px;
  background-color: #a42a28;
  color: #fff;
  padding: 4px 5px;
  float: right;
}
.removebtn:hover {
  cursor: pointer;
}
.sec3 {
  margin-top: 7px;
  margin-bottom: 6px;
}
.sec2 {
  margin-top: 7px;
}
#title {
  font-weight: 400;
  text-transform: uppercase;
  color: #a42a28;
}
#addBtn {
  color: #fff;
  background-color: #a42a28;
}
@media (max-width: 920px) {
  .list li {
    font-size: 10px;
  }
  .removebtn {
    font-size: 8px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #a42a28;
    color: #fff;

    cursor: pointer;
    padding: 5px 10px 5px 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  #title {
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    color: #a42a28;
  }
}
